
body{font-family: "宋体";}
.oimg img{margin-bottom: 20px;}
li{list-style: none;}
#banQ{height:30px;background-color: #efeeed;border-top: 1px solid #d3d3d3;line-height: 30px;
      padding-left: 10px;margin-top: 20px;}
#neiR p{margin-bottom:30px;text-indent: 2em;}

